@import url("https://fonts.googleapis.com/css?family=Oxanium&display=swap");
.nav li a {
  font-family: "Oxanium";
  color: #000000;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.display-4 {
  display: inline;
}

.jumbotron {
  display: none;
}
